#main-container{
    height: 500px;
    border: 3px solid black;
    margin: 30px;
    padding: 15px;
    display: grid;
    /*grid-template-columns: 100px 200px 100px ;
      /*grid-template-rows: 100px 300px 100px */
      grid-template-columns: repeat(auto fit, minmax(200px,1fr));
      place-items: center;
}

.box{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    text-align: center;
    display: grid;
    place-items: center;

}

.task{
    height :500x;
    border: 5px solid black;
    margin :30px;
    padding:15px;
    display:grid;
   /* grid-template-rows: 100px 420px;*/ 
    grid-template: 
    "head head head head" 100px
    "side main main main"  420px;
}

.header
{
    display: grid;
    place-items: center;
    background-color: bisque;
    grid-area: head;
 }

.sidebar{
    background-color: rgb(36, 214, 38);
    grid-area: side;

}
.main{
    background-color: rgb(152, 28, 30);
    grid-area: main;

}
